.cus-input>.form-control,
.cus-input>.btn {
    border-radius: 0%;
}

.fix-height {
    height: 300px;
}

.strikethough::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: black;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.cs-pt {
    cursor: pointer;
}

.text-align-center {
    text-align: center;
}

.centered {
    vertical-align: middle;
}

.attribute-value-hover:hover {
    border-color: black !important;
    /* color: white !important; */
    /* font-weight: bold; */
}

.focused {
    background-color: black !important;
    color: white !important;
    font-weight: bold;
}

.border {
    border: 2px solid red;
}